/* 관리자 기기 추가 페이지 */
#device-add-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.device-add-page-image {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.device-write-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.device-write-container {
    display: flex;
    flex-direction: column;
}

.device-write-middle, .cs-write-bottom {
    margin-bottom: 20px;
}
.device-write-box {
    display: flex;
}
.device-write-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.device-write-serialNumber-box, .device-write-model-box, .device-write-name-box, .device-write-title-box, .device-write-contents-box {
    margin-bottom: 10px;
}

.device-write-serialNumber-input, .device-write-model-input, .device-write-title-input, .device-write-contents-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.device-write-contents-textarea {
    resize: none;
    min-height: 100px;
}

.cs-write-bottom-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* .cs-write-bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    padding: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
} */

/* .cs-write-bottom div:hover {
    color: #333;
    border-color: #333;
} */

.cs-write-bottom input[type="file"] {
    display: none;
}

.file-preview {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-preview img {
    margin-right: 10px;
}

.file-preview p {
    margin: 0;
    flex: 1;
}

.file-preview button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-preview button:hover {
    background-color: #ddd;
}

.cs-write-button {
    display: flex;
    justify-content: flex-end;
}