/* 관리자 기기 추가 페이지 */
#device-add-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.device-add-page-image {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.device-write-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.device-write-container {
    display: flex;
    flex-direction: column;
}

.device-write-middle, .device-write-bottom {
    margin-bottom: 20px;
}
.device-write-box {
    display: flex;
}
.device-write-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.device-write-serialNumber-box, .device-write-model-box, .device-write-name-box, .device-write-title-box, .device-write-contents-box {
    margin-bottom: 10px;
}

.device-write-serialNumber-input, .device-write-model-input, .device-write-title-input, .device-write-contents-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.device-write-contents-textarea {
    resize: none;
    min-height: 100px;
}

.device-write-bottom-title {
    font-weight: bold;
    margin-bottom: 10px;
}