#rent-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 30px;
    min-width: 500px;
    margin: 50px 0px;
    height: 100%;
}

.rent-left-side {
    display: flex;
    flex-direction: column;
    gap: 100px;
    

    background-color: rgb(218, 216, 216);
}

.rent-left-side-site {
    gap: 50px;
}

.rent-left-side-rental {

    width: 350px;

    font-size: 30px;
}
.rent-left-side-return {
    width: 350px;

    font-size: 30px;
}
.rent-left-side-date{
    width: 350px;

    font-size: 30px;
}

.rent-item {
    width: 500px;
    height: 100%;

    font-size: 30px;


    background-color: rgb(218, 216, 216);
}

.rent-right-side {
    width: 300px;
    background-color: rgb(218, 216, 216);
}

.rent-right-side-basket {
    font-size: 30px;
}

.rent-right-sid-payment {
    font-size: 30px;
}