#mypage-rent-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    margin: 0 auto;
}

.rent-detail-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 175%;
}

.rent-detail-view {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 50%;

    padding: 20px;
    border-radius: 20px;

    background-color: rgba(100,100,100,0.1);
}

.rent-detail-status {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20%;

    background-color: rgba(100,100,100,0.3);
}

.rent-detail-view-in {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content:space-around;

    gap: 10px;
}

.rent-detail-image {
    background-image: url("../../../../assets/image/ex_macbook_image.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 70%;
    height: 100px;
}

.rent-detail-view-3 {
    font-size: medium;
    font-weight: 500;

    width: 100%;
}

.rent-detail-view-4 {
    font-size:medium;
    font-weight: 500;

    width: 100%;
}


.box {
    background-color: rgba(100,100,100,0.3);
}