#mypage-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 50px;
}

.mypage-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: url(../../assets/image/mypage-image.png);
    width: 100%;
    height: 580px;
    
    font-family: "Noto Sans KR";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    color: rgba(255,255,255,1);
}

.mypage-navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}

.mypage-navigation-item{
    border-bottom: 2px solid rgba(102,102,102,0.5);

    color: rgba(102,102,102,0.5);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

  .mypage-navigation-item:hover{
    cursor: pointer;
  }
  
  .mypage-navigation-item.active{
    border-bottom: 2px solid rgba(0,0,0,1);
    padding-bottom: 5px;

    color: rgba(0,0,0,1);
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .mypage-navigation-title{

    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
  }
  
  .mypage-main-container{
    grid-area: main;
    padding-bottom: 50px;
  }