#cs-wrapper{
    display: flex;
    flex-direction: column;
}

.cs-list-wrapper {
    padding: 110px 380px;
    display: flex;
    flex-direction: column;
    height: 479px;
    gap: 30px;
}

.cs-list-top {
    display: flex;
    flex-direction: row-reverse;
}

.cs-list-top-admin-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .cs-list-size-text {
    font-size: 20px;
    font-weight: 600;

    color: rgba(138,146,166,1);
}

.cs-list-size-text .emphasis {
    color: rgba(64,64,64,1);
} */

.cs-list-top-admin-text {
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;

    color: rgba(64,64,64,1);
}

.cs-list-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(102, 102, 102, 0.25);
    margin: 200px;
}

.cs-list-table-th {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;

    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    color: rgba(0,0,0,1);
}

.cs-list-table-reception-number {
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-list-table-status {
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-list-table-title {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-list-table-writer-id {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-list-table-write-date {
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-list-table-tr {
    display: flex;
    align-items: center;

    border-top: 1px solid rgba(102, 102, 102, 0.25);
    padding: 15px 24px;

    color: #000;

    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cs-list-table-tr:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.2);
}

.cs-list-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cs-list-pagination {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cs-list-page-left {
    width: 20px;
    height: 20px;

    background-image: url('../../../../assets/image/left-arrow.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.cs-list-page-right {
    width: 20px;
    height: 20px;

    background-image: url('../../../../assets/image/right-arrow.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.cs-list-page-box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.cs-list-page {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    color: rgba(64, 64, 64, 1);

    cursor: pointer;

    border: 1px solid rgba(216,216,216,1);
    padding: 3px 5px;
}

.cs-list-page-active {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

    border: 1px solid rgba(64, 64, 64, 1);
    padding: 3px 5px;

    color: rgba(64, 64, 64, 1);

    cursor: default;
}


