.input-label {
    color: rgba(102, 102, 102, 1);
  }

.input-primary-button {
    box-sizing: border-box;
    width: 110px;
    padding: 8px 0px;
    border-radius: 12px;

    background-color: rgba(44, 41, 55, 1);

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    color : rgba(255,255,255,1);
}

.input-primary-button:hover {
    cursor: pointer;
}

.input-disable-button {
    box-sizing: border-box;
    width: 110px;
    padding: 8px 0px;
    border-radius: 12px;

    background-color: rgba(238, 238, 238, 1);

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;

    color: rgba(138, 146, 166, 1);
}

.input-message {
    font-family: "Noto Sans KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-content-box{
    display: flex;
    gap: 10px;

    margin-top: 8px;
    margin-bottom: 4px;
}

.input {
    flex-grow: 1;
    border: 1px solid rgba(102, 102, 102, 0.35);
    border-radius: 12px;
    outline: none;
    padding: 8px 20px;
  
    background-color: rgba(255,255,255,1);
  
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
  
    color: rgba(35, 45, 66, 1);
  }

::placeholder{
    color: rgba(102, 102, 102, 0.6);
}