.rent-admin-button {
    display: flex;
    justify-content: left;
}

.add-admin-button {
    display: flex;
    flex-direction: row-reverse;
}

.add-admin-button:hover{
    cursor: pointer;
}

.device-box {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.device-box-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.device-image {
    max-width: 100px;
    height: auto;
}

.device-brand {
    background-color: beige;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.device-box-middle {
    flex: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.device-detail {
    padding: 10px;
}

.device-detail-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.device-detail-explain {
    color: #555;
    white-space: nowrap; /* 한 줄로 표시 */
    overflow: hidden; /* 넘친 부분을 숨김 */
    text-decoration: underline;
    text-overflow: ellipsis; /* 넘친 부분을 "..."으로 표시 */
    width: 350px; /* 너비를 조정해서 원하는 길이로 설정 */

    cursor: pointer;
}

.device-detail-explain-full {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: absolute;
    top: 50px;
    left: 0;
    width: calc(100% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.explain-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.device-box-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.device-price {
    font-size: 13px;
    font-weight: bold;
}

#select-type-wrapper {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 5px;
    gap: 30px;
}

.select-it-box {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgb(185, 188, 236);
    border-radius: 6px;
    padding: 8px 16px;
    background-color: rgb(185, 188, 236);
}

.select-it-none {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 175%;
    color: rgb(17, 15, 15);
}

.select-it-item {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    color: rgb(17, 15, 15);
}

.select-open-button,
.select-close-button {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    cursor: pointer;
}

.select-open-button {
    background-image: url('../../../assets/image/arrow-down.png');
}

.select-close-button {
    background-image: url('../../../assets/image/arrow-up.png');
}
.device-put-box{
    display: flex;
    flex-direction: row-reverse;
}

.type-notebook,
.type-tablet,
.type-game,
.type-external-battery {
    background-color: rgb(233, 233, 231);
    text-align: center;
    cursor: pointer;
}

.type-notebook-detail,
.type-tablet-detail,
.type-game-detail,
.type-external-battery-detail {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 100%;
}