/* 관리자 기기 추가 페이지 */
#device-add-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.device-add-page-image {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.device-write-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    padding: 20px;
}

.device-write-container {
    display: flex;
    flex-direction: column;
}

.device-write-top, .device-write-middle, .cs-write-bottom {
    margin-bottom: 20px;
}

.device-write-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.device-write-serialNumber-box, .device-write-model-box, .device-write-name-box, .device-write-title-box, .device-write-contents-box {
    margin-bottom: 10px;
}

.device-write-serialNumber-input, .device-write-model-input, .device-write-title-input, .device-write-contents-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.device-write-contents-textarea {
    resize: none;
    min-height: 100px;
}

.cs-write-bottom-title {
    font-weight: bold;
    margin-bottom: 10px;
}

/* .cs-write-bottom div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    padding: 20px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
} */

/* .cs-write-bottom div:hover {
    color: #333;
    border-color: #333;
} */

.cs-write-bottom input[type="file"] {
    display: none;
}

.file-preview {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.file-preview img {
    margin-right: 10px;
}

.file-preview p {
    margin: 0;
    flex: 1;
}

.file-preview button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-preview button:hover {
    background-color: #ddd;
}

.cs-write-button {
    display: flex;
    justify-content: flex-end;
}

.rent-admin-button {
    display: flex;
    justify-content: left;
    width: 70px;
    padding: 10px;
    background-color: rgba(61, 156, 235, 0.5);
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
}

/* 기기정보 */
.device-box {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;

    font-family: 'Noto Sans KR';
}

.device-box-left {
    display: flex;
    align-items: center;
}

.device-image {
    max-width: 100px;
    height: auto;
}

.device-box-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 10px;
    gap: 10px;
}

.device-detail-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.device-detail-explain {
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}

.device-detail-explain:hover{
    cursor: pointer;
    text-decoration: underline;
}

.device-detail-explain-full {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: absolute;
    top: 70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.device-explain-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.explain-close-button:hover{
    cursor: pointer;
}

.explain-title {
    font-weight: bold;
}

.device-box-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 15px;
}

.device-price {
    font-size: 16px;
    font-weight: bold;
}

.device-put-button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 13px;

    background-color: rgba(255,255,255,1);
    
    border: 0.5px solid rgba(0,0,0,1);

    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    text-align: center;

    color: rgba(63,63,63,1);
}

.device-out-button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 13px;

    background-color: rgba(63,63,63,1);
    
    border: 0.5px solid rgba(255,255,255,1);

    font-family: "Noto Sans KR";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    text-align: center;

    color: rgba(255,255,255,1);
}

.device-put-button:hover{
    cursor: pointer;
    background-color: rgba(216,216,216,0.5);
}

.device-out-button:hover{
    cursor: pointer;
}

#select-type-wrapper {
    font-family: 'Noto Sans KR';
    gap: 30px;
}

.select-it-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    gap : 20px
}

.select-it-none {
    font-size: 20px;
    font-weight: 500;
    line-height: 175%;
}

.select-it-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    color: rgb(17, 15, 15);
}

.select-open-button,
.select-close-button {
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    cursor: pointer;
}

.select-open-button {
    background-image: url('../../../assets/image/arrow-down.png');
}

.select-close-button {
    background-image: url('../../../assets/image/arrow-up.png');
}

.device-put-box {
    display: flex;
    flex-direction: row-reverse;
}

.type-notebook,
.type-tablet,
.type-game,
.type-external-battery {
    background-color: rgba(255,255,255,1);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,1);
}

.type-notebook-detail,
.type-tablet-detail,
.type-game-detail,
.type-external-battery-detail {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 100%;
    gap: 10px;
    background-color: #fff;
    padding: 10px;

    border: 1px solid #ddd;

    margin-bottom: 10px;
}

.delete-button {
    display: flex;
    justify-content: left;
    
    padding: 10px;
    background-color: rgba(61, 156, 235, 0.5);
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    cursor: pointer;
}