#authentication-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 1024px;
}

.authentication-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-width: 610px;
}

.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 380px;
}

.authentication-title {
    color: rgba(64, 64, 64, 1);
}

.authentication-input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;

    width: 100%;
}

.authentication-button-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
    height: 100%;
}

.authentication-sns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sns-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.kakao-button {
    background-image: url('../../assets/image/kakao-button.png');
}

.naver-button {
    background-image: url('../../assets/image/naver-button.png');
}
