.example-custom-input {
    background-color: #282c34;
    color: white;
    cursor: pointer;
    width: 240px;
    padding: 10px;
    margin-bottom: 5px;
    
}

.date-picker-wrapper {
    display: flex;
    flex-direction: column;
}