

.example-custom-input {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 240px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

.total-rent-time {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}