#cs-write-wrapper {
    display: flex;
    flex-direction: column;
    
    padding: 110px 380px;
    gap : 30px;
}

.cs-write-container{
    display: flex;
    flex-direction: column;
    
    border : 2px solid rgba(0,0,0,1);
}
/* ------------------------------------------------------------- */
.cs-write-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(102,102,102,0.25);
}

.cs-write-title{
    width: 120px;
    height: 50px;

    border-right: 1px solid rgba(102,102,102,0.25);

    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(0,0,0,1);

    display: flex;
    align-items: center;
    justify-content: center;

}

.cs-write-title-box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 8px 16px;
}

.cs-write-title-input {
    border: none;
    outline: none;
    background: none;

    width: 100%;

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64,64,64,1)
}
/* ------------------------------------------------------------- */
.cs-write-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(102,102,102,0.25);
}

.cs-write-middle-title{
    width: 120px;    
    min-height: 248px;

    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(0,0,0,1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-write-contents-box {
    display: flex;
    border-left: 1px solid rgba(102,102,102,0.25);
    flex-grow: 1;
    padding: 8px 16px;

    padding: 12px 16px;
    min-height: 248px;
}

.cs-write-contents-textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;

    width: 100%;

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64,64,64,1)
}
/* --------------------------------------------------------- */
.cs-write-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cs-write-bottom-title {
    width: 120px;    
    min-height: 50px;

    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(0,0,0,1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-write-file-box {
    display: flex;
    border-left: 1px solid rgba(102,102,102,0.25);
    flex-direction: column;
    padding: 8px 16px;

    gap: 15px;
    width: 87%;
}

.cs-file-upload-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    max-width: 6%;
    font-size: small;  

    color: black;
    background-color: rgb(150, 150, 150, 0.3);
    cursor: pointer;
    text-align: center;
}

.cs-file-upload-button:hover {
    background-color: rgb(150, 150, 150, 0.7);
}

.file-arrangement {
    border: none;
    padding: 10px;
    border-radius: 5px;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    gap: 15px;
    background-color: rgba(150,150,150, 0.1);
    color: rgb(0,0,0,0.7);

    font-size: smaller;

    width: 98%;  
}

.file-preview {
    display: flex;
    align-items: center;
    gap: 20px;

    color: black;
}

.file-preview-name {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    width: auto;
    height: 30px;
}

.image-delete-button {
    border: none;
    background-color:rgb(255, 0, 0, 0.5);
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.image-delete-button:hover {
    background-color: rgb(255, 0, 0, 0.8);
}
/* ------------------------------------------- */
.cs-write-button{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}