#wrapper{
  display: grid;
  grid-template: 
  "logo topBar" 77px 
  "tapNavigation tapNavigation" 80px
  "main main" 800px
  "footer footer" 200px
  /200px 1fr;
}

.main-container{
  grid-area: main;
  min-width: 1182px;
  background-color: rgba(255,100,150,1);
}

.logo-container{
  grid-area: logo;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom:  1px solid rgba(233,236,239,1);

  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 173%;
  color: rgba(64,64,64,1);
}

.top-bar-container{
  grid-area: topBar;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  border-left:  1px solid rgba(233,236,239,1);
  border-bottom:  1px solid rgba(233,236,239,1);
}

.top-bar-title{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgba(64,64,64,1);
}

.top-bar-right{
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-navigation-container{
  grid-area: tapNavigation;
  display: flex;
  justify-content: space-around;
  background-color: rgba(181, 176, 171, 1);
}

.top-navigation-title{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-navigation-item{
  border-radius: 6px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  gap : 16px;
}

.foot-bar{
  grid-area: footer;
  min-width: 1182px;
  background-color: rgba(138,138,13,1);
}