#rent-select-wrapper{
    display: flex;
    flex-direction: column;

    width: 300px;
    gap: 10px;
}

.select-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.select-item-title {
    font-family: 'Noto Sans KR';
    font-size: 20px;
    font-weight: 500;
}

.spot-open-button {
    width: 20px;
    height: 20px;

    background-image: url('../../../assets/image/arrow-down.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.spot-close-button {
    width: 20px;
    height: 20px;

    background-image: url('../../../assets/image/arrow-up.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.select-list {
    display: flex;
    flex-direction: column;

    font-family: 'Noto Sans KR';
}

.select-list-item-selected {
    padding: 8px 16px;
    background-color: rgba(229, 59, 56, 1);
    color: rgba(255,255,255,1);
}

.select-list-item-box {
    padding: 8px 16px;
    background-color: rgb(255,255,255,1);
}

.select-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
}

.select-item:hover {
    cursor: pointer;
}