#rdrg-wrapper{
  display: flex;
  flex-direction: column;
  width: 1920px;
}

.main-container{
    min-width: 1182px;
    height: 100%;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(237,226,226,1);
}

.foot-bar{
    min-width: 1182px;
    height: 100%;
    background-color: rgba(237,226,226,1);
  }

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 8px 24px; 

    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: rgba(0,0,0,1);
}

.top-navigation-container{
    display: flex;
    justify-content: space-around;
    gap: 204px;

    height: 70px;
}

.top-navigation-title{
    color: #000;

    font-family: "Source Sans 3";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.top-navigation-title:hover{
    cursor: pointer;
}

.top-navigation-item{
    border-radius: 6px;
    padding: 8px 24px;

    display: flex;
    align-items: center;
    gap : 16px;
}

.logo-container:hover {
    cursor: pointer;
}

.top-bar-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: rgba(64,64,64,1);
}

.top-bar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    gap: 20px;
}

